.radio-input {
  display: none;
}

.radio-label {
  display: inline-block;
  background: #F5F7FB;
  border-radius: 8px;
  color: #293264;
  padding: 8px 12px;
  cursor: pointer;   
  border: 1px solid #293264;
  margin-right: 2rem;
  transition: background 0.1s;
}

.radio-input:checked + .radio-label {
  background-color: #D6DBF5;
} 

.radio-input:hover + .radio-label{
  background-color: #D6DBF5;
}