*,
*::before,
*::after {
  box-sizing: border-box;
}

/* html {
  margin: 0 auto;
} */

body {
  font-family: 'Karla', sans-serif;
  background-color: #c8d5f0;
  width: 100%;
  margin: auto;
}

button {
	font: inherit;
}
